body {
  font-family: 'segoe UI', sans-serif !important;
  background: #f7f7f7;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: gray;
  padding: 20px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#form-section {
  width: 500px;
}

.myButton {
  padding: 6px 10px;
  margin-right: 10px;
  background: green;
  color: #f7f7f7;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.actions {
  margin-top: 10px;
}

.myDeleteButton {
  padding: 6px 10px;
  margin-right: 10px;
  background: red;
  color: #f7f7f7;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

ol {
  margin-top: 20px;
}

.post {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}