body {
  font-family: 'Segoe UI', sans-serif !important;
  background: wheat;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 0 rgba(216, 10, 10, 0.3);
}

.container h1,
p {
  text-align: center;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#form-section {
  width: 500px;
  margin: auto;
}

.myButton {
  padding: 6px 10px;
  margin-right: 10px;
  background: green;
  color: #f7f7f7;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.actions {
  margin-top: 10px;
}

.myDeleteButton {
  padding: 6px 10px;
  margin-right: 10px;
  background: red;
  color: #f7f7f7;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

ul {
  margin-top: 20px;
  list-style: none;
}

.post {
  background: wheat;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.post div p {
  color: black;
}